{% extends "blog/base_.html" %}
{% block content %}
<div class="content">
	<div class="container-fluid" align="center">
		<div class="row">
			<div class="col-md-2" align="center"></div>
			<div class="col-md-8" align="center">
				<div class="card">
					<div class="header">
						<h4 class="title">Submission</h4>
					</div>
					<div class="content">
						<form>
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-10">
									<div>
										<center><video id="video" width="640" height="480" autoplay></video></center>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<button type="submit" class="btn btn-danger btn-fill btn-wd">Record</button>
								</div>
								<div class="col-md-4">
									<button type="reset" class="btn btn-info btn-fill btn-wd">Reset</button>
								</div>
								<div class="col-md-4">
									<button type="submit" class="btn btn-success btn-fill btn-wd">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
{% endblock %}